# Business Understanding

# Data Understanding

# Data Preparation

In [498]:
import pandas as pd

vaccine = pd.read_csv('data/training_set_features.csv')
vaccine.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [499]:
vaccine_label = pd.read_csv('data/training_set_labels.csv')
vaccine_label.head()

   respondent_id  h1n1_vaccine  seasonal_vaccine
0              0             0                 0
1              1             0                 1
2              2             0                 0
3              3             0                 1
4              4             0                 0

In [500]:
vaccine = vaccine.merge(vaccine_label, on='respondent_id')

In [501]:
vaccine.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,h1n1_vaccine,seasonal_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN,0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe,0,1
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo,0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN,0,1
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb,0,0

In [502]:
vaccine.drop(columns='seasonal_vaccine',inplace=True)

In [503]:
vaccine.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,h1n1_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe,0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN,0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb,0

In [504]:
vaccine.columns

Index(['respondent_id', 'h1n1_concern', 'h1n1_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_h1n1', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_h1n1_vacc_effective', 'opinion_h1n1_risk',
       'opinion_h1n1_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'age_group',
       'education', 'race', 'sex', 'income_poverty', 'marital_status',
       'rent_or_own', 'employment_status', 'hhs_geo_region', 'census_msa',
       'household_adults', 'household_children', 'employment_industry',
       'employment_occupation', 'h1n1_vaccine'],
      dtype='object')

In [505]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   h1n1_concern                 26615 non-null  float64
 2   h1n1_knowledge               26591 non-null  float64
 3   behavioral_antiviral_meds    26636 non-null  float64
 4   behavioral_avoidance         26499 non-null  float64
 5   behavioral_face_mask         26688 non-null  float64
 6   behavioral_wash_hands        26665 non-null  float64
 7   behavioral_large_gatherings  26620 non-null  float64
 8   behavioral_outside_home      26625 non-null  float64
 9   behavioral_touch_face        26579 non-null  float64
 10  doctor_recc_h1n1             24547 non-null  float64
 11  doctor_recc_seasonal         24547 non-null  float64
 12  chronic_med_condition        25736 non-null  float64
 13  child_under_6_months         25887 non-null  float64
 14  health_worker                25903 non-null  float64
 15  health_insurance             14433 non-null  float64
 16  opinion_h1n1_vacc_effective  26316 non-null  float64
 17  opinion_h1n1_risk            26319 non-null  float64
 18  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 19  opinion_seas_vacc_effective  26245 non-null  float64
 20  opinion_seas_risk            26193 non-null  float64
 21  opinion_seas_sick_from_vacc  26170 non-null  float64
 22  age_group                    26707 non-null  object
 23  education                    25300 non-null  object
 24  race                         26707 non-null  object
 25  sex                          26707 non-null  object
 26  income_poverty               22284 non-null  object
 27  marital_status               25299 non-null  object
 28  rent_or_own                  24665 non-null  object
 29  employment_status            25244 non-null  object
 30  hhs_geo_region               26707 non-null  object
 31  census_msa                   26707 non-null  object
 32  household_adults             26458 non-null  float64
 33  household_children           26458 non-null  float64
 34  employment_industry          13377 non-null  object
 35  employment_occupation        13237 non-null  object
 36  h1n1_vaccine                 26707 non-null  int64
dtypes: float64(23), int64(2), object(12)
memory usage: 7.5+ MB

In [506]:
vaccine.drop(columns=['respondent_id', 'doctor_recc_seasonal','opinion_seas_vacc_effective','opinion_seas_risk','opinion_seas_sick_from_vacc',
                     'employment_industry','employment_occupation'], inplace=True)

In [507]:
vaccine.head()

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,h1n1_vaccine
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,Female,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,Male,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,...,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,Female,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,Female,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,0

In [508]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 30 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 26615 non-null  float64
 1   h1n1_knowledge               26591 non-null  float64
 2   behavioral_antiviral_meds    26636 non-null  float64
 3   behavioral_avoidance         26499 non-null  float64
 4   behavioral_face_mask         26688 non-null  float64
 5   behavioral_wash_hands        26665 non-null  float64
 6   behavioral_large_gatherings  26620 non-null  float64
 7   behavioral_outside_home      26625 non-null  float64
 8   behavioral_touch_face        26579 non-null  float64
 9   doctor_recc_h1n1             24547 non-null  float64
 10  chronic_med_condition        25736 non-null  float64
 11  child_under_6_months         25887 non-null  float64
 12  health_worker                25903 non-null  float64
 13  health_insurance             14433 non-null  float64
 14  opinion_h1n1_vacc_effective  26316 non-null  float64
 15  opinion_h1n1_risk            26319 non-null  float64
 16  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 17  age_group                    26707 non-null  object
 18  education                    25300 non-null  object
 19  race                         26707 non-null  object
 20  sex                          26707 non-null  object
 21  income_poverty               22284 non-null  object
 22  marital_status               25299 non-null  object
 23  rent_or_own                  24665 non-null  object
 24  employment_status            25244 non-null  object
 25  hhs_geo_region               26707 non-null  object
 26  census_msa                   26707 non-null  object
 27  household_adults             26458 non-null  float64
 28  household_children           26458 non-null  float64
 29  h1n1_vaccine                 26707 non-null  int64
dtypes: float64(19), int64(1), object(10)
memory usage: 6.1+ MB

In [509]:
vaccine.groupby(['h1n1_vaccine','health_insurance'])['health_insurance'].count()

h1n1_vaccine  health_insurance
0             0.0                 1480
              1.0                 8663
1             0.0                  256
              1.0                 4034
Name: health_insurance, dtype: int64

In [510]:
vaccine['health_insurance'].isna().sum()

12274

In [511]:
vaccine.drop(columns=['health_insurance'],inplace=True)

In [512]:
vaccine.head()

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,h1n1_vaccine
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,Female,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,Male,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,...,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,Female,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,Female,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,0

In [513]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 26615 non-null  float64
 1   h1n1_knowledge               26591 non-null  float64
 2   behavioral_antiviral_meds    26636 non-null  float64
 3   behavioral_avoidance         26499 non-null  float64
 4   behavioral_face_mask         26688 non-null  float64
 5   behavioral_wash_hands        26665 non-null  float64
 6   behavioral_large_gatherings  26620 non-null  float64
 7   behavioral_outside_home      26625 non-null  float64
 8   behavioral_touch_face        26579 non-null  float64
 9   doctor_recc_h1n1             24547 non-null  float64
 10  chronic_med_condition        25736 non-null  float64
 11  child_under_6_months         25887 non-null  float64
 12  health_worker                25903 non-null  float64
 13  opinion_h1n1_vacc_effective  26316 non-null  float64
 14  opinion_h1n1_risk            26319 non-null  float64
 15  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 16  age_group                    26707 non-null  object
 17  education                    25300 non-null  object
 18  race                         26707 non-null  object
 19  sex                          26707 non-null  object
 20  income_poverty               22284 non-null  object
 21  marital_status               25299 non-null  object
 22  rent_or_own                  24665 non-null  object
 23  employment_status            25244 non-null  object
 24  hhs_geo_region               26707 non-null  object
 25  census_msa                   26707 non-null  object
 26  household_adults             26458 non-null  float64
 27  household_children           26458 non-null  float64
 28  h1n1_vaccine                 26707 non-null  int64
dtypes: float64(18), int64(1), object(10)
memory usage: 5.9+ MB

In [514]:
vaccine['doctor_recc_h1n1'] = vaccine['doctor_recc_h1n1'].fillna(0.0)

In [515]:
vaccine['income_poverty'] = vaccine['income_poverty'].fillna('<= $75,000, Above Poverty')

In [516]:
vaccine['rent_or_own'] = vaccine['rent_or_own'].fillna('Own')

In [517]:
vaccine = vaccine.dropna(how='any',axis=0)

In [518]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24025 entries, 0 to 26706
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 24025 non-null  float64
 1   h1n1_knowledge               24025 non-null  float64
 2   behavioral_antiviral_meds    24025 non-null  float64
 3   behavioral_avoidance         24025 non-null  float64
 4   behavioral_face_mask         24025 non-null  float64
 5   behavioral_wash_hands        24025 non-null  float64
 6   behavioral_large_gatherings  24025 non-null  float64
 7   behavioral_outside_home      24025 non-null  float64
 8   behavioral_touch_face        24025 non-null  float64
 9   doctor_recc_h1n1             24025 non-null  float64
 10  chronic_med_condition        24025 non-null  float64
 11  child_under_6_months         24025 non-null  float64
 12  health_worker                24025 non-null  float64
 13  opinion_h1n1_vacc_effective  24025 non-null  float64
 14  opinion_h1n1_risk            24025 non-null  float64
 15  opinion_h1n1_sick_from_vacc  24025 non-null  float64
 16  age_group                    24025 non-null  object
 17  education                    24025 non-null  object
 18  race                         24025 non-null  object
 19  sex                          24025 non-null  object
 20  income_poverty               24025 non-null  object
 21  marital_status               24025 non-null  object
 22  rent_or_own                  24025 non-null  object
 23  employment_status            24025 non-null  object
 24  hhs_geo_region               24025 non-null  object
 25  census_msa                   24025 non-null  object
 26  household_adults             24025 non-null  float64
 27  household_children           24025 non-null  float64
 28  h1n1_vaccine                 24025 non-null  int64
dtypes: float64(18), int64(1), object(10)
memory usage: 5.5+ MB

In [519]:
vaccine['h1n1_concern'].value_counts()

h1n1_concern
2.0    9683
1.0    7431
3.0    4052
0.0    2859
Name: count, dtype: int64

In [520]:
vaccine[(vaccine['h1n1_concern']== 2.0) | (vaccine['h1n1_concern']== 3.0)].groupby('census_msa')[['h1n1_concern']].count()

                          h1n1_concern
census_msa
MSA, Not Principle  City          6035
MSA, Principle City               3957
Non-MSA                           3743

In [521]:
vaccine[(vaccine['h1n1_concern']== 2.0) | (vaccine['h1n1_concern']== 3.0)].groupby('age_group')[['h1n1_concern']].count().sort_values(by='h1n1_concern',ascending=False)

               h1n1_concern
age_group
65+ Years              3535
55 - 64 Years          3056
45 - 54 Years          2916
18 - 34 Years          2206
35 - 44 Years          2022

In [522]:
vaccine['opinion_h1n1_vacc_effective'].value_counts()

opinion_h1n1_vacc_effective
4.0    10906
5.0     6679
3.0     3986
2.0     1700
1.0      754
Name: count, dtype: int64

In [523]:
vaccine[vaccine['opinion_h1n1_vacc_effective']>3].groupby('education')[['opinion_h1n1_vacc_effective']].count()

                  opinion_h1n1_vacc_effective
education
12 Years                                 3881
< 12 Years                               1479
College Graduate                         7399
Some College                             4826

In [524]:
vaccine[vaccine['doctor_recc_h1n1']==1].groupby('h1n1_vaccine')['doctor_recc_h1n1'].count()

h1n1_vaccine
0    2305
1    2656
Name: doctor_recc_h1n1, dtype: int64

In [525]:
vaccine[(vaccine['h1n1_concern']== 2.0) | (vaccine['h1n1_concern']== 3.0)].groupby('income_poverty')[['h1n1_concern']].count()

                           h1n1_concern
income_poverty
<= $75,000, Above Poverty          8438
> $75,000                          3697
Below Poverty                      1600

# Exploratory Data Analysis

# Model

In [526]:
#column_lst = ['h1n1_concern','h1n1_knowledge','behavioral_antiviral_meds','behavioral_avoidance','behavioral_face_mask',
#             'behavioral_wash_hands','behavioral_large_gatherings','behavioral_outside_home','behavioral_touch_face',
#             'doctor_recc_h1n1','chronic_med_condition','child_under_6_months','health_worker','opinion_h1n1_vacc_effective',
#             'opinion_h1n1_risk','opinion_h1n1_sick_from_vacc','household_adults','household_children']


column_lst = ['h1n1_concern','h1n1_knowledge',
             'child_under_6_months','opinion_h1n1_vacc_effective',
             'opinion_h1n1_risk','opinion_h1n1_sick_from_vacc','household_adults','household_children']

for col in column_lst:
    vaccine[col] = vaccine[col].astype(object)

In [527]:
vaccine

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,h1n1_vaccine
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,Female,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,Male,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,Female,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,Female,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26700,3.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,...,Female,"> $75,000",Married,Own,Not in Labor Force,lzgpxyit,"MSA, Principle City",1.0,0.0,0
26701,2.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,...,Female,"> $75,000",Not Married,Rent,Not in Labor Force,fpwskwrf,"MSA, Principle City",3.0,0.0,0
26702,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,...,Female,"<= $75,000, Above Poverty",Not Married,Own,Not in Labor Force,qufhixun,Non-MSA,0.0,0.0,0
26703,1.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,...,Male,"<= $75,000, Above Poverty",Not Married,Rent,Employed,lzgpxyit,"MSA, Principle City",1.0,0.0,0
26706,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,Male,"<= $75,000, Above Poverty",Married,Own,Not in Labor Force,mlyzmhmf,"MSA, Principle City",1.0,0.0,0

In [528]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24025 entries, 0 to 26706
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 24025 non-null  object
 1   h1n1_knowledge               24025 non-null  object
 2   behavioral_antiviral_meds    24025 non-null  float64
 3   behavioral_avoidance         24025 non-null  float64
 4   behavioral_face_mask         24025 non-null  float64
 5   behavioral_wash_hands        24025 non-null  float64
 6   behavioral_large_gatherings  24025 non-null  float64
 7   behavioral_outside_home      24025 non-null  float64
 8   behavioral_touch_face        24025 non-null  float64
 9   doctor_recc_h1n1             24025 non-null  float64
 10  chronic_med_condition        24025 non-null  float64
 11  child_under_6_months         24025 non-null  object
 12  health_worker                24025 non-null  float64
 13  opinion_h1n1_vacc_effective  24025 non-null  object
 14  opinion_h1n1_risk            24025 non-null  object
 15  opinion_h1n1_sick_from_vacc  24025 non-null  object
 16  age_group                    24025 non-null  object
 17  education                    24025 non-null  object
 18  race                         24025 non-null  object
 19  sex                          24025 non-null  object
 20  income_poverty               24025 non-null  object
 21  marital_status               24025 non-null  object
 22  rent_or_own                  24025 non-null  object
 23  employment_status            24025 non-null  object
 24  hhs_geo_region               24025 non-null  object
 25  census_msa                   24025 non-null  object
 26  household_adults             24025 non-null  object
 27  household_children           24025 non-null  object
 28  h1n1_vaccine                 24025 non-null  int64
dtypes: float64(10), int64(1), object(18)
memory usage: 5.5+ MB

In [529]:
#Class imbalance

vaccine['h1n1_vaccine'].value_counts(normalize=True)

h1n1_vaccine
0    0.785224
1    0.214776
Name: proportion, dtype: float64

In [530]:
y = vaccine['h1n1_vaccine']

vaccine = vaccine.drop("h1n1_vaccine", axis=1)
X = pd.get_dummies(vaccine[vaccine.columns], drop_first=True, dtype=float)

In [531]:
X.head()

,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,chronic_med_condition,health_worker,...,hhs_geo_region_oxchjgsf,hhs_geo_region_qufhixun,"census_msa_MSA, Principle City",census_msa_Non-MSA,household_adults_1.0,household_adults_2.0,household_adults_3.0,household_children_1.0,household_children_2.0,household_children_3.0
0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [566]:
X.columns

Index(['behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_h1n1', 'chronic_med_condition',
       'health_worker', 'h1n1_concern_1.0', 'h1n1_concern_2.0',
       'h1n1_concern_3.0', 'h1n1_knowledge_1.0', 'h1n1_knowledge_2.0',
       'child_under_6_months_1.0', 'opinion_h1n1_vacc_effective_2.0',
       'opinion_h1n1_vacc_effective_3.0', 'opinion_h1n1_vacc_effective_4.0',
       'opinion_h1n1_vacc_effective_5.0', 'opinion_h1n1_risk_2.0',
       'opinion_h1n1_risk_3.0', 'opinion_h1n1_risk_4.0',
       'opinion_h1n1_risk_5.0', 'opinion_h1n1_sick_from_vacc_2.0',
       'opinion_h1n1_sick_from_vacc_3.0', 'opinion_h1n1_sick_from_vacc_4.0',
       'opinion_h1n1_sick_from_vacc_5.0', 'age_group_35 - 44 Years',
       'age_group_45 - 54 Years', 'age_group_55 - 64 Years',
       'age_group_65+ Years', 'education_< 12 Years',
       'education_College Graduate', 'education_Some College', 'race_Hispanic',
       'race_Other or Multiple', 'race_White', 'sex_Male',
       'income_poverty_> $75,000', 'income_poverty_Below Poverty',
       'marital_status_Not Married', 'rent_or_own_Rent',
       'employment_status_Not in Labor Force', 'employment_status_Unemployed',
       'hhs_geo_region_bhuqouqj', 'hhs_geo_region_dqpwygqj',
       'hhs_geo_region_fpwskwrf', 'hhs_geo_region_kbazzjca',
       'hhs_geo_region_lrircsnp', 'hhs_geo_region_lzgpxyit',
       'hhs_geo_region_mlyzmhmf', 'hhs_geo_region_oxchjgsf',
       'hhs_geo_region_qufhixun', 'census_msa_MSA, Principle City',
       'census_msa_Non-MSA', 'household_adults_1.0', 'household_adults_2.0',
       'household_adults_3.0', 'household_children_1.0',
       'household_children_2.0', 'household_children_3.0'],
      dtype='object')

In [533]:
# Import the relevant function
from sklearn.model_selection import train_test_split

# Perform train-test split with random_state=42 and stratify=y
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [534]:
print("Train percent:", y_train.value_counts(normalize=True)[1])
print("Test percent: ", y_test.value_counts(normalize=True)[1])

Train percent: 0.21478521478521478
Test percent:  0.21474945896454137

In [535]:
# Import relevant class and function
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

# Instantiate a LogisticRegression with random_state=42
baseline_model = LogisticRegression(random_state=42)

# Use cross_val_score with scoring="neg_log_loss" to evaluate the model
# on X_train and y_train
baseline_loss_cv = cross_val_score(baseline_model, X_train, y_train, scoring="neg_log_loss")

baseline_loss = -(baseline_loss_cv.mean())
baseline_loss

0.3856543749681622

In [536]:
model_log = baseline_model.fit(X_train, y_train)
print(model_log)

    # Predict
y_hat_test = baseline_model.predict(X_test)

y_score = baseline_model.fit(X_train, y_train).decision_function(X_test)

fpr, tpr, thresholds = roc_curve(y_test, y_score)
    
print(auc(fpr, tpr))

LogisticRegression(random_state=42)
0.8313418560279248

In [537]:
from imblearn.over_sampling import SMOTE
from sklearn.metrics import make_scorer
from sklearn.model_selection import StratifiedKFold
from sklearn.base import clone
from sklearn.metrics import log_loss

neg_log_loss = make_scorer(log_loss, greater_is_better=False, needs_proba=True)

def custom_cross_val_score(estimator, X, y):
    # Create a list to hold the scores from each fold
    kfold_train_scores = np.ndarray(5)
    kfold_val_scores = np.ndarray(5)

    # Instantiate a splitter object and loop over its result
    kfold = StratifiedKFold(n_splits=5)
    for fold, (train_index, val_index) in enumerate(kfold.split(X, y)):
        # Extract train and validation subsets using the provided indices
        X_t, X_val = X.iloc[train_index], X.iloc[val_index]
        y_t, y_val = y.iloc[train_index], y.iloc[val_index]
        
        
        # Instantiate SMOTE with random_state=42 and sampling_strategy=0.28
        sm = SMOTE(random_state=42, sampling_strategy=0.28)
        # Fit and transform X_t_scaled and y_t using sm
        X_t_oversampled, y_t_oversampled = sm.fit_resample(X_t, y_t)
        
        # Clone the provided model and fit it on the train subset
        temp_model = clone(estimator)
        temp_model.fit(X_t_oversampled, y_t_oversampled)
        
        # Evaluate the provided model on the train and validation subsets
        neg_log_loss_score_train = neg_log_loss(temp_model, X_t_oversampled, y_t_oversampled)
        neg_log_loss_score_val = neg_log_loss(temp_model, X_val, y_val)
        kfold_train_scores[fold] = neg_log_loss_score_train
        kfold_val_scores[fold] = neg_log_loss_score_val
        
    return kfold_train_scores, kfold_val_scores

model_with_preprocessing = LogisticRegression(random_state=42)
preprocessed_train_scores, preprocessed_neg_log_loss_cv = custom_cross_val_score(model_with_preprocessing, X_train, y_train)
- (preprocessed_neg_log_loss_cv.mean())

0.38577411267534134

In [538]:
model_log = model_with_preprocessing.fit(X_train, y_train)
print(model_log)

    # Predict
y_hat_test = model_with_preprocessing.predict(X_test)

y_score = model_with_preprocessing.fit(X_train, y_train).decision_function(X_test)

fpr, tpr, thresholds = roc_curve(y_test, y_score)
    
print(auc(fpr, tpr))

LogisticRegression(random_state=42)
0.8313418560279248

In [539]:
print("Train:     ", -preprocessed_train_scores)
print("Validation:", -preprocessed_neg_log_loss_cv)

Train:      [0.38412496 0.3873253  0.38462394 0.38106451 0.38653691]
Validation: [0.38606258 0.37504679 0.38571131 0.4022348  0.37981508]

In [558]:
# Instantiate a LogisticRegression with random_state=42
C_change_model = LogisticRegression(random_state=42, C=1e5,
    solver="saga",
    penalty="elasticnet",
    l1_ratio=0.5)

# Use cross_val_score with scoring="neg_log_loss" to evaluate the model
# on X_train and y_train
C_change_train, C_change_loss_cv = custom_cross_val_score(C_change_model, X_train, y_train)

C_change_loss = -(C_change_loss_cv.mean())
C_change_loss

0.38662361771103393

In [559]:
from sklearn.metrics import roc_auc_score, roc_curve, auc

model_log = C_change_model.fit(X_train, y_train)
print(model_log)

    # Predict
y_hat_test = C_change_model.predict(X_test)

y_score = C_change_model.fit(X_train, y_train).decision_function(X_test)

fpr, tpr, thresholds = roc_curve(y_test, y_score)
    
print(auc(fpr, tpr))

LogisticRegression(C=100000.0, l1_ratio=0.5, penalty='elasticnet',
                   random_state=42, solver='saga')
0.8372423768166564

In [550]:
print("Train:     ", -C_change_train)
print("Validation:", -C_change_loss_cv)

Train:      [0.38407998 0.38729346 0.38458212 0.38103872 0.38650815]
Validation: [0.38640689 0.37496564 0.38601188 0.40221031 0.37970661]

In [551]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import roc_curve, auc

In [552]:
SEED = 1
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=SEED)

In [553]:
dt = DecisionTreeClassifier(criterion='entropy', random_state=SEED)
dt.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', random_state=1)

In [554]:
# Make predictions using test set 
y_pred = dt.predict(X_test)

# Check the AUC of predictions
false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test, y_pred)
roc_auc = auc(false_positive_rate, true_positive_rate)
roc_auc

0.6454016850599263

In [555]:
dt = DecisionTreeClassifier(criterion='entropy',
                           max_features=42,
                           max_depth=5,
                           min_samples_split=0.3,
                           min_samples_leaf=0.2, 
                           random_state=SEED)
dt.fit(X_train, y_train)
y_pred = dt.predict(X_test)
false_positive_rate, true_positive_rate, thresholds = roc_curve(y_test, y_pred)
roc_auc = auc(false_positive_rate, true_positive_rate)
roc_auc

0.700189865907203

In [561]:
final_model = C_change_model

In [562]:
# Instantiate SMOTE with random_state=42 and sampling_strategy=0.28
sm = SMOTE(random_state=42, sampling_strategy=0.28)
# Fit and transform X_train_scaled and y_train using sm
X_train, y_train = sm.fit_resample(X_train, y_train)

In [563]:
final_model.fit(X_train, y_train)

LogisticRegression(C=100000.0, l1_ratio=0.5, penalty='elasticnet',
                   random_state=42, solver='saga')

In [564]:
log_loss(y_test, final_model.predict_proba(X_test))

0.38570074855258113

In [565]:
model_log = C_change_model.fit(X_test, y_test)

    # Predict
y_hat_test = C_change_model.predict(X_test)

y_score = C_change_model.fit(X_train, y_train).decision_function(X_test)

fpr, tpr, thresholds = roc_curve(y_test, y_score)
    
print(auc(fpr, tpr))

0.8372235693447164

/Users/jacklocke/anaconda3/envs/learn-env/lib/python3.8/site-packages/sklearn/linear_model/_sag.py:328: ConvergenceWarning: The max_iter was reached which means the coef_ did not converge
  warnings.warn("The max_iter was reached which means "

# Conclusion

## Limitations

## Recommendations

## Next Steps