# Business Understanding

# Data Understanding

# Data Preparation

In [1273]:
import pandas as pd

vaccine = pd.read_csv('data/training_set_features.csv')
vaccine.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb

In [1274]:
vaccine_label = pd.read_csv('data/training_set_labels.csv')
vaccine_label.head()

   respondent_id  h1n1_vaccine  seasonal_vaccine
0              0             0                 0
1              1             0                 1
2              2             0                 0
3              3             0                 1
4              4             0                 0

In [1275]:
vaccine = vaccine.merge(vaccine_label, on='respondent_id')

In [1276]:
vaccine.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,h1n1_vaccine,seasonal_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN,0,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe,0,1
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo,0,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN,0,1
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb,0,0

In [1277]:
vaccine.drop(columns='seasonal_vaccine',inplace=True)

In [1278]:
vaccine.head()

,respondent_id,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,...,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,employment_industry,employment_occupation,h1n1_vaccine
0,0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,...,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,NaN,NaN,0
1,1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,...,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,pxcmvdjn,xgwztkwe,0
2,2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,rucpziij,xtkaffoo,0
3,3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,...,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,NaN,NaN,0
4,4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,...,Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,wxleyezf,emcorrxb,0

In [1279]:
vaccine.columns

Index(['respondent_id', 'h1n1_concern', 'h1n1_knowledge',
       'behavioral_antiviral_meds', 'behavioral_avoidance',
       'behavioral_face_mask', 'behavioral_wash_hands',
       'behavioral_large_gatherings', 'behavioral_outside_home',
       'behavioral_touch_face', 'doctor_recc_h1n1', 'doctor_recc_seasonal',
       'chronic_med_condition', 'child_under_6_months', 'health_worker',
       'health_insurance', 'opinion_h1n1_vacc_effective', 'opinion_h1n1_risk',
       'opinion_h1n1_sick_from_vacc', 'opinion_seas_vacc_effective',
       'opinion_seas_risk', 'opinion_seas_sick_from_vacc', 'age_group',
       'education', 'race', 'sex', 'income_poverty', 'marital_status',
       'rent_or_own', 'employment_status', 'hhs_geo_region', 'census_msa',
       'household_adults', 'household_children', 'employment_industry',
       'employment_occupation', 'h1n1_vaccine'],
      dtype='object')

In [1280]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 37 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   respondent_id                26707 non-null  int64
 1   h1n1_concern                 26615 non-null  float64
 2   h1n1_knowledge               26591 non-null  float64
 3   behavioral_antiviral_meds    26636 non-null  float64
 4   behavioral_avoidance         26499 non-null  float64
 5   behavioral_face_mask         26688 non-null  float64
 6   behavioral_wash_hands        26665 non-null  float64
 7   behavioral_large_gatherings  26620 non-null  float64
 8   behavioral_outside_home      26625 non-null  float64
 9   behavioral_touch_face        26579 non-null  float64
 10  doctor_recc_h1n1             24547 non-null  float64
 11  doctor_recc_seasonal         24547 non-null  float64
 12  chronic_med_condition        25736 non-null  float64
 13  child_under_6_months         25887 non-null  float64
 14  health_worker                25903 non-null  float64
 15  health_insurance             14433 non-null  float64
 16  opinion_h1n1_vacc_effective  26316 non-null  float64
 17  opinion_h1n1_risk            26319 non-null  float64
 18  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 19  opinion_seas_vacc_effective  26245 non-null  float64
 20  opinion_seas_risk            26193 non-null  float64
 21  opinion_seas_sick_from_vacc  26170 non-null  float64
 22  age_group                    26707 non-null  object
 23  education                    25300 non-null  object
 24  race                         26707 non-null  object
 25  sex                          26707 non-null  object
 26  income_poverty               22284 non-null  object
 27  marital_status               25299 non-null  object
 28  rent_or_own                  24665 non-null  object
 29  employment_status            25244 non-null  object
 30  hhs_geo_region               26707 non-null  object
 31  census_msa                   26707 non-null  object
 32  household_adults             26458 non-null  float64
 33  household_children           26458 non-null  float64
 34  employment_industry          13377 non-null  object
 35  employment_occupation        13237 non-null  object
 36  h1n1_vaccine                 26707 non-null  int64
dtypes: float64(23), int64(2), object(12)
memory usage: 7.5+ MB

In [1281]:
vaccine.drop(columns=['respondent_id', 'doctor_recc_seasonal','opinion_seas_vacc_effective','opinion_seas_risk','opinion_seas_sick_from_vacc',
                     'employment_industry','employment_occupation'], inplace=True)

In [1282]:
vaccine.head()

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,h1n1_vaccine
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,Female,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,Male,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,...,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,Female,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,Female,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,0

In [1283]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 30 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 26615 non-null  float64
 1   h1n1_knowledge               26591 non-null  float64
 2   behavioral_antiviral_meds    26636 non-null  float64
 3   behavioral_avoidance         26499 non-null  float64
 4   behavioral_face_mask         26688 non-null  float64
 5   behavioral_wash_hands        26665 non-null  float64
 6   behavioral_large_gatherings  26620 non-null  float64
 7   behavioral_outside_home      26625 non-null  float64
 8   behavioral_touch_face        26579 non-null  float64
 9   doctor_recc_h1n1             24547 non-null  float64
 10  chronic_med_condition        25736 non-null  float64
 11  child_under_6_months         25887 non-null  float64
 12  health_worker                25903 non-null  float64
 13  health_insurance             14433 non-null  float64
 14  opinion_h1n1_vacc_effective  26316 non-null  float64
 15  opinion_h1n1_risk            26319 non-null  float64
 16  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 17  age_group                    26707 non-null  object
 18  education                    25300 non-null  object
 19  race                         26707 non-null  object
 20  sex                          26707 non-null  object
 21  income_poverty               22284 non-null  object
 22  marital_status               25299 non-null  object
 23  rent_or_own                  24665 non-null  object
 24  employment_status            25244 non-null  object
 25  hhs_geo_region               26707 non-null  object
 26  census_msa                   26707 non-null  object
 27  household_adults             26458 non-null  float64
 28  household_children           26458 non-null  float64
 29  h1n1_vaccine                 26707 non-null  int64
dtypes: float64(19), int64(1), object(10)
memory usage: 6.1+ MB

In [1284]:
vaccine.groupby(['h1n1_vaccine','health_insurance'])['health_insurance'].count()

h1n1_vaccine  health_insurance
0             0.0                 1480
              1.0                 8663
1             0.0                  256
              1.0                 4034
Name: health_insurance, dtype: int64

In [1285]:
vaccine['health_insurance'].isna().sum()

12274

In [1286]:
vaccine.drop(columns=['health_insurance'],inplace=True)

In [1287]:
vaccine.head()

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,sex,income_poverty,marital_status,rent_or_own,employment_status,hhs_geo_region,census_msa,household_adults,household_children,h1n1_vaccine
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,Female,Below Poverty,Not Married,Own,Not in Labor Force,oxchjgsf,Non-MSA,0.0,0.0,0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,Male,Below Poverty,Not Married,Rent,Employed,bhuqouqj,"MSA, Not Principle City",0.0,0.0,0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,...,Male,"<= $75,000, Above Poverty",Not Married,Own,Employed,qufhixun,"MSA, Not Principle City",2.0,0.0,0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,Female,Below Poverty,Not Married,Rent,Not in Labor Force,lrircsnp,"MSA, Principle City",0.0,0.0,0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,Female,"<= $75,000, Above Poverty",Married,Own,Employed,qufhixun,"MSA, Not Principle City",1.0,0.0,0

In [1288]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26707 entries, 0 to 26706
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 26615 non-null  float64
 1   h1n1_knowledge               26591 non-null  float64
 2   behavioral_antiviral_meds    26636 non-null  float64
 3   behavioral_avoidance         26499 non-null  float64
 4   behavioral_face_mask         26688 non-null  float64
 5   behavioral_wash_hands        26665 non-null  float64
 6   behavioral_large_gatherings  26620 non-null  float64
 7   behavioral_outside_home      26625 non-null  float64
 8   behavioral_touch_face        26579 non-null  float64
 9   doctor_recc_h1n1             24547 non-null  float64
 10  chronic_med_condition        25736 non-null  float64
 11  child_under_6_months         25887 non-null  float64
 12  health_worker                25903 non-null  float64
 13  opinion_h1n1_vacc_effective  26316 non-null  float64
 14  opinion_h1n1_risk            26319 non-null  float64
 15  opinion_h1n1_sick_from_vacc  26312 non-null  float64
 16  age_group                    26707 non-null  object
 17  education                    25300 non-null  object
 18  race                         26707 non-null  object
 19  sex                          26707 non-null  object
 20  income_poverty               22284 non-null  object
 21  marital_status               25299 non-null  object
 22  rent_or_own                  24665 non-null  object
 23  employment_status            25244 non-null  object
 24  hhs_geo_region               26707 non-null  object
 25  census_msa                   26707 non-null  object
 26  household_adults             26458 non-null  float64
 27  household_children           26458 non-null  float64
 28  h1n1_vaccine                 26707 non-null  int64
dtypes: float64(18), int64(1), object(10)
memory usage: 5.9+ MB

In [1289]:
vaccine['doctor_recc_h1n1'] = vaccine['doctor_recc_h1n1'].fillna(0.0)

In [1290]:
vaccine['income_poverty'] = vaccine['income_poverty'].fillna('<= $75,000, Above Poverty')

In [1291]:
vaccine['rent_or_own'] = vaccine['rent_or_own'].fillna('Own')

In [1292]:
vaccine = vaccine.dropna(how='any',axis=0)

In [1293]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24025 entries, 0 to 26706
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 24025 non-null  float64
 1   h1n1_knowledge               24025 non-null  float64
 2   behavioral_antiviral_meds    24025 non-null  float64
 3   behavioral_avoidance         24025 non-null  float64
 4   behavioral_face_mask         24025 non-null  float64
 5   behavioral_wash_hands        24025 non-null  float64
 6   behavioral_large_gatherings  24025 non-null  float64
 7   behavioral_outside_home      24025 non-null  float64
 8   behavioral_touch_face        24025 non-null  float64
 9   doctor_recc_h1n1             24025 non-null  float64
 10  chronic_med_condition        24025 non-null  float64
 11  child_under_6_months         24025 non-null  float64
 12  health_worker                24025 non-null  float64
 13  opinion_h1n1_vacc_effective  24025 non-null  float64
 14  opinion_h1n1_risk            24025 non-null  float64
 15  opinion_h1n1_sick_from_vacc  24025 non-null  float64
 16  age_group                    24025 non-null  object
 17  education                    24025 non-null  object
 18  race                         24025 non-null  object
 19  sex                          24025 non-null  object
 20  income_poverty               24025 non-null  object
 21  marital_status               24025 non-null  object
 22  rent_or_own                  24025 non-null  object
 23  employment_status            24025 non-null  object
 24  hhs_geo_region               24025 non-null  object
 25  census_msa                   24025 non-null  object
 26  household_adults             24025 non-null  float64
 27  household_children           24025 non-null  float64
 28  h1n1_vaccine                 24025 non-null  int64
dtypes: float64(18), int64(1), object(10)
memory usage: 5.5+ MB

In [1294]:
vaccine[vaccine['h1n1_vaccine']==1].groupby('age_group')[['h1n1_vaccine']].count().sort_values(by='h1n1_vaccine',
                                                                                              ascending=False)

               h1n1_vaccine
age_group
65+ Years              1380
55 - 64 Years          1265
45 - 54 Years           938
18 - 34 Years           886
35 - 44 Years           691

In [1295]:
vaccine[vaccine['h1n1_vaccine']==1].groupby('income_poverty')[['h1n1_vaccine']].count().sort_values(by='h1n1_vaccine',
                                                                                              ascending=False)

                           h1n1_vaccine
income_poverty
<= $75,000, Above Poverty          3003
> $75,000                          1675
Below Poverty                       482

In [1296]:
vaccine[vaccine['h1n1_vaccine']==1].groupby('census_msa')[['h1n1_vaccine']].count().sort_values(by='h1n1_vaccine',
                                                                                              ascending=False)

                          h1n1_vaccine
census_msa
MSA, Not Principle  City          2240
MSA, Principle City               1506
Non-MSA                           1414

# Exploratory Data Analysis

# Model

In [1297]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24025 entries, 0 to 26706
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 24025 non-null  float64
 1   h1n1_knowledge               24025 non-null  float64
 2   behavioral_antiviral_meds    24025 non-null  float64
 3   behavioral_avoidance         24025 non-null  float64
 4   behavioral_face_mask         24025 non-null  float64
 5   behavioral_wash_hands        24025 non-null  float64
 6   behavioral_large_gatherings  24025 non-null  float64
 7   behavioral_outside_home      24025 non-null  float64
 8   behavioral_touch_face        24025 non-null  float64
 9   doctor_recc_h1n1             24025 non-null  float64
 10  chronic_med_condition        24025 non-null  float64
 11  child_under_6_months         24025 non-null  float64
 12  health_worker                24025 non-null  float64
 13  opinion_h1n1_vacc_effective  24025 non-null  float64
 14  opinion_h1n1_risk            24025 non-null  float64
 15  opinion_h1n1_sick_from_vacc  24025 non-null  float64
 16  age_group                    24025 non-null  object
 17  education                    24025 non-null  object
 18  race                         24025 non-null  object
 19  sex                          24025 non-null  object
 20  income_poverty               24025 non-null  object
 21  marital_status               24025 non-null  object
 22  rent_or_own                  24025 non-null  object
 23  employment_status            24025 non-null  object
 24  hhs_geo_region               24025 non-null  object
 25  census_msa                   24025 non-null  object
 26  household_adults             24025 non-null  float64
 27  household_children           24025 non-null  float64
 28  h1n1_vaccine                 24025 non-null  int64
dtypes: float64(18), int64(1), object(10)
memory usage: 5.5+ MB

In [1298]:
#Class imbalance

vaccine['h1n1_vaccine'].value_counts(normalize=True)

h1n1_vaccine
0    0.785224
1    0.214776
Name: proportion, dtype: float64

In [1299]:

vaccine['household_adults'] = vaccine['household_adults'].apply(lambda x: 'other adults' if x >= 1 else 'no other adults')
vaccine['household_children'] = vaccine['household_children'].apply(lambda x: 'children' if x >= 1 else 'no children')

In [1300]:
vaccine.info()

<class 'pandas.core.frame.DataFrame'>
Index: 24025 entries, 0 to 26706
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   h1n1_concern                 24025 non-null  float64
 1   h1n1_knowledge               24025 non-null  float64
 2   behavioral_antiviral_meds    24025 non-null  float64
 3   behavioral_avoidance         24025 non-null  float64
 4   behavioral_face_mask         24025 non-null  float64
 5   behavioral_wash_hands        24025 non-null  float64
 6   behavioral_large_gatherings  24025 non-null  float64
 7   behavioral_outside_home      24025 non-null  float64
 8   behavioral_touch_face        24025 non-null  float64
 9   doctor_recc_h1n1             24025 non-null  float64
 10  chronic_med_condition        24025 non-null  float64
 11  child_under_6_months         24025 non-null  float64
 12  health_worker                24025 non-null  float64
 13  opinion_h1n1_vacc_effective  24025 non-null  float64
 14  opinion_h1n1_risk            24025 non-null  float64
 15  opinion_h1n1_sick_from_vacc  24025 non-null  float64
 16  age_group                    24025 non-null  object
 17  education                    24025 non-null  object
 18  race                         24025 non-null  object
 19  sex                          24025 non-null  object
 20  income_poverty               24025 non-null  object
 21  marital_status               24025 non-null  object
 22  rent_or_own                  24025 non-null  object
 23  employment_status            24025 non-null  object
 24  hhs_geo_region               24025 non-null  object
 25  census_msa                   24025 non-null  object
 26  household_adults             24025 non-null  object
 27  household_children           24025 non-null  object
 28  h1n1_vaccine                 24025 non-null  int64
dtypes: float64(16), int64(1), object(12)
memory usage: 5.5+ MB

In [1301]:
import pandas as pd
encoded_vaccine = pd.DataFrame()

In [1302]:
encoded_vaccine

Empty DataFrame
Columns: []
Index: []

In [1303]:
encoded_cols = []

for col in vaccine.columns:
    if vaccine[col].dtype == 'O':
        encoded_cols.append(col)
        
encoded_cols

['age_group',
 'education',
 'race',
 'sex',
 'income_poverty',
 'marital_status',
 'rent_or_own',
 'employment_status',
 'hhs_geo_region',
 'census_msa',
 'household_adults',
 'household_children']

In [1304]:
from sklearn.preprocessing import OneHotEncoder
import numpy as np

for col in encoded_cols:
    
    ohe = OneHotEncoder(handle_unknown="ignore", sparse=False)

    ohe.fit(vaccine[[col]])

    vaccine_ohe = pd.DataFrame(
        ohe.transform(vaccine[[col]]),
        index=vaccine_ohe.index,
        columns=np.hstack(ohe.categories_)
    )
    
    col_dict = {}
    for col in vaccine_ohe.columns:
        col_dict[col] = vaccine_ohe[col].sum()
    
    
        
    minimum = [k for k,v in col_dict.items() if v == min(col_dict.values())]
    
    
    vaccine_ohe.drop(columns=minimum, inplace = True)
    
    
    encoded_vaccine = pd.concat([encoded_vaccine,vaccine_ohe], axis=1)

In [1305]:
encoded_vaccine

,18 - 34 Years,45 - 54 Years,55 - 64 Years,65+ Years,12 Years,College Graduate,Some College,Black,Hispanic,White,...,kbazzjca,lrircsnp,lzgpxyit,mlyzmhmf,oxchjgsf,qufhixun,"MSA, Not Principle City","MSA, Principle City",other adults,no children
0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0
3,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26700,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
26701,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
26702,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
26703,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,1.0
26706,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0

In [1306]:
vaccine.drop(columns=encoded_cols,inplace = True)

In [1307]:
vaccine = pd.concat([vaccine, encoded_vaccine], axis=1)

In [1308]:
vaccine.head()

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,kbazzjca,lrircsnp,lzgpxyit,mlyzmhmf,oxchjgsf,qufhixun,"MSA, Not Principle City","MSA, Principle City",other adults,no children
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0

In [1319]:
# Import the relevant function
from sklearn.model_selection import train_test_split
# Define our X and y
X = vaccine.drop(columns = ['h1n1_vaccine'], axis=1)
y = vaccine['h1n1_vaccine']

In [1320]:
X_train_all, X_hold_out, y_train_all, y_hold_out = train_test_split(X, y, test_size=0.1, random_state=42, stratify=y)

In [1321]:
X_train, X_valid, y_train, y_valid = train_test_split(X_train_all, y_train_all, test_size=0.2, random_state=42, stratify=y_train_all)

In [1322]:
X.head()

,h1n1_concern,h1n1_knowledge,behavioral_antiviral_meds,behavioral_avoidance,behavioral_face_mask,behavioral_wash_hands,behavioral_large_gatherings,behavioral_outside_home,behavioral_touch_face,doctor_recc_h1n1,...,kbazzjca,lrircsnp,lzgpxyit,mlyzmhmf,oxchjgsf,qufhixun,"MSA, Not Principle City","MSA, Principle City",other adults,no children
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,3.0,2.0,0.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0
3,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0
4,2.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0,1.0

In [1323]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: h1n1_vaccine, dtype: int64

In [1324]:
print("Train percent:", y_train.value_counts(normalize=True)[1])
print("Test percent: ", y_test.value_counts(normalize=True)[1])

Train percent: 0.21477712898190437
Test percent:  0.21474945896454137

In [1375]:
# Import relevant class and function
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

# Instantiate a LogisticRegression with random_state=42
baseline_model = LogisticRegression(random_state=42,max_iter=1000,class_weight='balanced')
baseline_model.fit(X_train,y_train)
# Use cross_val_score with scoring="recall" or "f1" to evaluate the model
# on X_train and y_train
baseline_recall_logreg = cross_val_score(baseline_model, X_train, y_train, scoring="recall")
baseline_f1_logreg = cross_val_score(baseline_model, X_train, y_train, scoring="f1")

print(np.mean(baseline_recall_logreg))
print(np.mean(baseline_f1_logreg))

0.7267833109017496
0.5873684806055727

In [1376]:
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [1383]:
def final_model_func(model, X):
    
    probs = model.predict_proba(X)[:,1]
    return [int(prob > 0.25) for prob in probs]

# Calculate predictions with adjusted threshold and
# display proportions of predictions
threshold_adjusted_probs = pd.Series(final_model_func(baseline_model, X_train))
threshold_adjusted_probs.value_counts(normalize=True)

1    0.629994
0    0.370006
Name: proportion, dtype: float64

In [1384]:
print("Recall:  ", recall_score(y_train, threshold_adjusted_probs))
print("f1:  ", f1_score(y_train, threshold_adjusted_probs))

Recall:   0.9197846567967699
f1:   0.4676977826444018

In [1366]:
dt = DecisionTreeClassifier(criterion='entropy', random_state=SEED)
dt.fit(X_train, y_train)

# Use cross_val_score with scoring="recall" or "f1" to evaluate the model
# on X_train and y_train
baseline_recall_dt = cross_val_score(dt, X_train, y_train, scoring="recall")
baseline_f1_dt = cross_val_score(dt, X_train, y_train, scoring="f1")

print(np.mean(baseline_recall_dt))
print(np.mean(baseline_f1_dt))

0.4562584118438761
0.4461075606232302

# Conclusion

## Limitations

## Recommendations

## Next Steps